﻿{{ partial "head/head.html" . }}
    <body class="{{if .Site.Params.dark_mode}}dark-theme{{end}}">
        <div class="wrapper">
            {{ partial "sidebar/sidebar.html" . }}
            <main class="content container">
                {{ block "main" . -}}{{- end }}
            </main>
            {{ block "sidebar" . }}{{ end }}
        </div>
    </body>
</html>
