.flex-container {
    display: flex;
    gap: 0 2rem;
}

.flex-item {
    flex: 1;
}

*::selection {
    color:#bc5791;
}

@media (max-width: 1280px) {
    .flex-container {
        flex-wrap: wrap;
    }

    .flex-item {
        width: 100%;
        flex: none;
    }
}