<nav>
    <ul class="sidebar-nav">
        {{ range .Site.Menus.main }}
            <li class="heading">
                <a href="{{ .URL }}" {{ if .Params.external }}target="_blank" rel="noopener noreferrer"{{end}}>{{ .Name }}</a>
            </li>
        {{ end }}
    </ul>
</nav>
