<div class="sidebar-about">
    <h1 class="brand">
        {{ if .Site.Params.brand_image }}
            <a href="{{ .Site.BaseURL }}">
                {{ $image := resources.Get .Site.Params.brand_image }}
                {{ $image = $image.Resize "180x180" }}
                
                <img src="{{ $image.RelPermalink }}" alt="brand image">
            </a>
        {{ end }}
        {{ if .Site.Params.brand }}
            <a href="{{ .Site.BaseURL }}">
                <h1>{{ .Site.Params.brand }}</h1>
            </a>
        {{ end }}
    </h1>
    <p class="lead">
    {{ with .Site.Params.description }}{{. | safeHTML}}{{end}}
    </p>
</div>
